<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606694383374-8ht2qiv4oun8jgnmqs3osln7gsasqphf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606694383374-8ht2qiv4oun8jgnmqs3osln7gsasqphf</string>
	<key>API_KEY</key>
	<string>AIzaSyCTMJxvBPpzMkTkI1P_PjUiKhpoRy9_wVU</string>
	<key>GCM_SENDER_ID</key>
	<string>606694383374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SIV.Navigation</string>
	<key>PROJECT_ID</key>
	<string>iosnetologysiv</string>
	<key>STORAGE_BUCKET</key>
	<string>iosnetologysiv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606694383374:ios:3213941ce24356809d415f</string>
</dict>
</plist>